apiVersion: apps/v1
kind: Deployment
metadata:
  name: examen-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: examen-frontend
  template:
    metadata:
      labels:
        app: examen-frontend
    spec:
      containers:
        - name: frontend
          image: examen-frontend-app
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: examen-frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080